AWS_PROFILE=mlops-2-data-prep-lab
AWS_REGION=us-east-1
PROJECT_NAME=ml-data-processing-prep
ENVIRONMENT=lab
S3_BUCKET_NAME=
RESOURCE_PREFIX=ml-data-prep-lab
GLUE_DATABASE_NAME=ml_data_prep_lab
GLUE_ROLE_ARN=
STACK_NAME=ml-data-prep-lab-stack
EMPTY_S3_ON_DESTROY=true
